@{
    ViewData["Title"] = "添加填空题";
}
@model TopicModel
<form id="theForm" method="post" asp-action="Create">


    <div class="from-group row">
        <label asp-for="title" class="col-sm-2"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="title"/>
        </div>
    </div>


    <div class="from-group row">
        <label asp-for="content" class="col-sm-2"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="content"/>
        </div>
    </div>


    <div class="from-group row">
        <label asp-for="scores" class="col-sm-2"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="scores"/>
        </div>
    </div>

    <div class="from-group row">
        <label asp-for="answe" class="col-sm-2"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="answe"/>
        </div>
    </div>

    <hr>
    <input type="hidden" asp-for="type" value="Fill"/>
    <div class="invalid" asp-validation-summary="ModelOnly"></div>
    <button type="submit" class="btn btn-primary btn-block">提交</button>
</form>