@{
    ViewData["Title"] = "修改个人信息";
}
@model ChangePasswordModel
<style>
    .invalid{
        display: block;
        color: red;
    }
    .invalid>ul{
        list-style: none;
        margin: 0;
    }
    .invalid>ul>li{
        color: red;
    }
</style>
<form asp-action="ChangeInfo" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">旧的密码</span>
            
        </div>
        <input asp-for="oldPassword" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">新的密码</span>
        </div>
        <input asp-for="newPassword" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <span class="invalid" asp-validation-for="oldPassword"></span>
    <span class="invalid" asp-validation-for="newPassword"></span>
    <div class="invalid" asp-validation-summary="ModelOnly"></div>
    <hr>
    <button type="submit" class="btn btn-primary btn-block">确认修改</button>
    <br>
    <a class="btn btn-danger btn-block" asp-action="Index" role="button">放弃修改</a>
</form>
